
<!-- File Created 10/12 by Zach Venables -->
<h2 class="appointments">Appointments</h2>
<dl class="appointment-item">
  <dt>Present</dt>
  <dd class="position">Full Professor, Dept  of Computer Science and engineering, OSU</dd>
  <dt>Present</dt>
  <dd class="position">Coordinator, Undergraduate Research (CSE), OSU<br/><a href="https://cse.osu.edu/current-students/undergraduate-research">Visit Undergraduate Research</a></dd>
  <dt>Present</dt>
  <dd class="position">Chair, Computer and Space Committee (CSE), OSU</dd>
  <dt>Present</dt>
  <dd class="position">Member, Executive Committee (CSE), OSU</dd>
  <dt>2005 -2013</dt>
  <dd class="position">Associate Professor, Dept. of Computer Science and Engineering, OSU</dd>
  <dt>2000 - 2005</dt>
  <dd class="position">Assistant Professor, Dept. of Computer Science and Engineering, OSU</dd>
</dl>