<!-- Created on 10/15/2019 by Matthew Kelch -->

<!-- This template defines the content of the home page of the website -->

<div class="home-text">
  <main>
    <h1>About Jim Davis</h1>
    <p>
      Jim Davis is a Full Professor in the Dept. of Computer Science and Engineering. He received his Ph.D. from the
      Massachusetts Institute of Technology.
    </p>

    <br>

    <h2>Research</h2>
    <p>
      His main research areas include Computer Vision, Artificial Intelligence, and Machine Learning with a focus on
      image/video analysis and automated surveillance. He has received over $3M in research funding (to date) from the
      National Science Foundation (including a prestigious CAREER award), U.S. Air Force, Los Alamos National Lab, U.S.
      Army Night Vision Laboratory, Intel, and Ohio Board of Regents.
    </p>

    <br>

    <h2>Teaching</h2>
    <p>
      Prof. Davis offers classes in Computer Vision (CSE 5524) and Artificial Intelligence (CSE 5052) at
      Ohio State University. The Artificial Intelligence course was specifically designed to fill a need and
      outreach to the large body of non-CSE students interested in the topic.
    </p>

    <br>

    <h2>Service</h2>
    <p>
      In addition to his Full Professor duties and service in the professional societies, he also serves in the CSE
      Dept. as the Coordinator for Undergraduate Research, the Chair of the Computer and Space Committee, and a
      Member of the Executive Committee.
    </p>
  </main>
</div>
